*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url("mole-game/cursor.png"), auto;
    }
    
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    .custom-cursor {
      position: absolute;
      width: 72px; 
      height: 72px;
      background-image: url('mole-game/cursor-worm.png'); 
      background-size: cover;
      pointer-events: none;
  }
    
    .bg {
      background-image: url('mole-game/9292995_2927.jpeg');
      background-size: 1908px 909px;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }


  
    
    .hole {
      background: black;
      border-radius: 50%;
      overflow: visible;
      width: 200px;
      height: 200px;
    }
    
    .hole-container {
      width: 23%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }
    
    .mole {
      position: relative;
      right: 33px;
      bottom: 32px;
      width: 265px;
      cursor: url('mole-game/cursor-worm.png'),autoh;
    }
    
    
    
    .gone {
      display: none;
    }
    
    .worm {
      width: 1660px;
      height: 85px;
    }
    
    .worm-container {
      overflow: hidden;
      transition: width 0.5s ease-in-out;
    }
    
    .worm-box {
      width: 1660px;
      margin-top: 36px;
    }
    
    .win {
      max-width: 100vw;
      max-height: 100vh;
      display: none;
    }
    
    .hide {
      display: none;
    }
    
    .show {
      display: block;
    }

    .worm_width{
      width: 10%;
    }
